; SSH keys and authentication data globally excluded for security reasons
*.pem
*.ppk
*.rc

*.iml
*idea
**/dependency-reduced-pom.xml

target/
tex/emnlp18-latex/
tex/data-natives
docs/
workspace/
data/
tex/AuthorKit19/

*.t7
*.zip

; TeX
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.bak
*.bcf
*.run.xml
*.sav

*.exe
*.so
*.a
;*.out
*.pyc
